.game-container {
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-board {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.cell {
  width: 10px;
  height: 10px;
  border: 1px solid red;
}
.green {
  background-color: green;
}

.snake {
  background-color: green;
}
.apple {
  background-color: red;
}
.traveled {
  background-color: gray;
}